<header class="o-header" >
    <a 
        class="o-header__logo"
        href="{{ site.home_url }}"
    >
        <img src="{{ require_assets('img/logo.svg') }}">
    </a>
    <nav class="o-header__nav">
        <ul>
            {% for menu in main_menu %}
                <li>
                    <a 
                        href="{{ menu.url }}" 
                        target="{{ menu.target }}"
                    >
                        {{ menu.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>