{% extends "base.twig" %}

{% block style %}
    {{ enqueue_style('archive-news') }}
{% endblock %}

{% block content %}
    <div class="archive-news">
        <div class="container">
            {% include "components/molecules/breadcrumb.twig" %}
            <ul class="archive-news__main">
                {% for post in posts %}
                    <li class="archive-news__post">
                        <a 
                            href="{{ post.guid }}" 
                            v-lazy:background-image="'{{ require_assets('img/block-map.jpg') }}'"
                            v-bg.contain.lazy="'{{ require_assets('img/block-map.jpg') }}'"
                        >
                            <p>
                                {{ post.post_title }}
                            </p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% include "components/molecules/pagination.twig" %}
        </div>
    </div>
{% endblock %}