<!doctype html>
<html class="no-js no-svg" {{ site.language_attributes }}>
	<head>
        {% include 'html-header.twig' %}
        <style>
            [v-cloak] {
                display: none;
            }
        </style>
        {% block style %}{% endblock %}
        {{ enqueue_style('default') }}
		{{ function('wp_head') }}
	</head>
	<body class="{{ body_class }}" data-template="base.twig">
        <div 
            v-cloak
            id="wrapper" 
            :style="globalStyle" 
        >
            {% include 'components/organisms/header.twig' %}
            <main class="o-layout" role="main">
                {% block content %}{% endblock %}
            </main>
            {% include 'components/organisms/footer.twig' %}
            {% include 'components/organisms/loading.twig' %}
        </div>
        {% block script %}{% endblock %}
        {{ enqueue_script('default') }}
        {{ enqueue_script('runtime', 'runtime') }}
        {{ enqueue_script('vendors', 'vendors') }}
        {{ function('wp_footer') }}
	</body>
</html>
