<div class="o-menu">
    {% if menu %}
		<ul>
			{% for link in menu %}
				<li>
					<a target="{{ link.target }}" href="{{ link.url }}">{{ link.title }}</a>
				</li>
				{% for sublink in link.menu_children %}
					<ul>
						<li>
							<a target="{{ sublink.target }}" href="{{sublink.url}}">{{ sublink.title }}</a>
						</li>
					</ul>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}
</div>