<!DOCTYPE html>
<html {{ site.language_attributes }}>
    <head>
        {% include 'components/base/html-header.twig' %}
        {{ enqueue_style('default', false) }}
        {% block head %}{% endblock %}
        {{ function('wp_head') }}
        <style>
            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body class="{{ body_class }}">
        <div 
            v-cloak
            id="wrapper" 
            :style="globalStyle" 
        >
            {% include 'components/base/loading.twig' %}
            {% include 'components/organisms/header.twig' %}
            {% block header %}{% endblock %}
            <main>
                {% block content %}{% endblock %}
            </main>
            {% include 'components/organisms/footer.twig' %}
        </div>
        <script>
            var lang = "{{ lang }}"
            var base_path = "{{ site.theme.link }}"
            var ajax_url = "{{ site.url }}"
        </script>
        {% if option.ga_source_id is not empty %}
            {# 適用 V2 & V3 #}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ option.ga_source_id }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ option.ga_source_id }}');
            </script>
        {% endif %}
        {{ enqueue_script('default', false) }}
        {{ enqueue_script('runtime', false) }}
        {{ enqueue_script('vendors', false) }}
        {% block script %}{% endblock %}
        {{ function('wp_footer') }}
    </body>
</html>
