<meta charset="{{ site.charset }}" />
<meta name="description" content="{{ head.doc_desc }}">
<title>{{ head.doc_title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#006b93" />
<meta name="msapplication-navbutton-color" content="#006b93" />
<meta name="apple-mobile-web-app-status-bar-style" content="#006b93" />
{# <link rel="author" href="{{ site.theme.link }}/humans.txt" />
<link rel="pingback" href="{{ site.pingback_url }}" /> #}
<link rel="profile" href="http://gmpg.org/xfn/11">

<!-- SMO -->
<meta property="og:locale" content="{{ head.lang }}"/>
<meta property="og:type" content="{{ head.og_type }}" />
<meta property="og:title" content="{{ head.doc_title }}" />
<meta property="og:description" content="{{ head.doc_desc }}" />
<meta property="og:url" content="{{ head.url }}"/>
<meta property="og:site_name" content="{{ head.site_name }}"/>
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image" content="{{ head.doc_thumb }}" />
<meta property="og:image:alt" content="{{ head.doc_desc }}" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description" content="{{ head.doc_desc }}"/>
<meta name="twitter:title" content="{{ head.doc_title }}"/>
<meta name="twitter:image" content="{{ head.doc_thumb }}"/>
<meta itemprop="name" content="{{ head.doc_title }}">
<meta itemprop="description" content="{{ head.doc_desc }}">
<meta itemprop="image" content="{{ head.doc_thumb }}">
<!-- SMO end -->

<!-- favicon -->
<link rel="shortcut icon" type="image/ico" href="{{ site.theme.link }}/src/img/ico/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/src/img/ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/src/img/ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/src/img/ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/src/img/ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/src/img/ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/src/img/ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/src/img/ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/src/img/ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/src/img/ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.theme.link }}/src/img/ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/src/img/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/src/img/ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/src/img/ico/favicon-16x16.png">
{# <link rel="manifest" href="{{ site.theme.link }}/src/img/ico/manifest.json">  #}
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.theme.link }}/src/img/ico/ms-icon-144x144.png">
<style>{{ source('src/style/loading.css', ignore_missing = true) }}</style>
