{# <div id="ogCheck" style="position:fixed;z-index:500000;background:#fff;left:0px;top:0;right:0;margin:auto;max-width:500px;">
  <div>標題：{{head.doc_title}}</div>
  <div>敘述：{{ head.doc_desc }}</div>
  <div>型別：{{head.og_type}}</div>
  <div style="word-break:break-all;">連結：{{head.url}}</div>
  <div>圖片：{{head.doc_thumb}}</div>
  <div style="max-width:200px;"><img style="max-width:200px;" src="{{head.doc_thumb}}" alt=""></div>
  <div>語言：{{head.lang}}</div>
  <div>站名：{{head.site_name}}</div>
</div> #}
<div  class="o-loading"></div>
